.constructora-hero {
    background-image: url('https://media.istockphoto.com/id/1398229122/es/foto/casco-y-br%C3%BAjula-sobre-planos-arquitect%C3%B3nicos-y-tecnolog%C3%ADa-de-construcci%C3%B3n-e-industria-futura.webp?s=1024x1024&w=is&k=20&c=DmLu2QKSB4F3AqiE9kbYMx15foJYsp2IMeXK5HJ_eVs=');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .hero-content {
    max-width: 800px;
    margin-left: 5%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }