
/* HeroSection.css */
/* src/styles/components/HeroSection.css */

.hero-section {
    /* padding: 6rem 2rem;
    margin-top: 50px; */
    height: 100vh;
    text-align: center;
    
  }
  
  .hero-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1rem;
  }
  
  .hero-subtitle {
    font-size: 1.2rem;
    
    max-width: 600px;
    margin: 0 auto;
  }

  .logo-hero-section {
    width: 30%;
    filter: drop-shadow(0px 0px 8px rgb(247, 152, 75)); /* ✅ Sombra blanca visible */
  }
  