.swal2-popup  {

  width: 80%;
  max-width: 80%;

} 

.swal2-html-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.modal-container {
  max-width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.modal-title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: black;
}

.modal-img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.modal-desc {
  font-size: 1rem;
  margin: 1rem 0;
  line-height: 1.5;
}

.whatsapp-btn {
  background-color: #25d366;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.whatsapp-btn:hover {
  background-color: #1ebe5c;
}

/* 👇 Ajuste mobile */
@media screen and (max-width: 360px) {
  .modal-img {
    max-height: 160px;
  }

  .modal-title {
    font-size: 1.1rem;
  }

  .modal-desc {
    font-size: 0.9rem;
  }

  .whatsapp-btn {
    font-size: 0.85rem;
    width: 100%;
    justify-content: center;
  }
}
